<!doctype html>
<html>
<head>
    <link rel='stylesheet' href='/project8/css/style.css'>
    <link rel='stylesheet' href='/project8/node_modules/bootstrap/dist/css/bootstrap.css'>
    </head>
    <body>
        <div id ='person'>
            space for person object to load 
        
        
        
        
        
        
        
        
        </div>
        <button id='submit' onclick= 'loadPerson()'>
        CLICK
        </button>
        <script type="text/javascript" src="/project8/js/person.js"></script>
    
    </body>


</html>