<!DOCTYPE html>
<html lang='en' ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    </head>
<body>
    <h1></h1>    
    <div ng-controller="ShoppingCartCtrl">Accessing values from the Controller</div>
    
    
  <script type='text/javascript' src='/node_modules/angular/angular.js'></script> 
    <script type='text/javascript' src='/js/shoppingCart.js'></script>
    <script type='text/javascript' src='/js/controllers/ShoppingCartCtrl.js'></script>
    
    
</body>

</html>